@model GetVisitViewModel
@using System.Globalization;

@{
    ViewData["Title"] = "دریافت نوبت";
    int index = 0;
    PersianCalendar p = new PersianCalendar();

}
<div style="background-image:url('/userImages/back-user-page.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;">
    <div class="container">
        <div class="row">


            <center>
                <div class="col-md-8">
                    <div class="card" style="margin-top:200px;margin-bottom:200px;">
                        <div class="card-img-top">
                            <img src="~/userImages/header-user-page.jpg" style="width:100%;height:0px;" class="card-img-top" alt="...">
                        </div>

                        <div class="card-body" style="color:black;">
                            
                            <img src="~/userImages/avatar.jpg" style="width:100px;height:100px;border-radius:50px;" />
                            <br />
                            <br />

                            <h3><b>دکتر @Model.Doctor.Name @Model.Doctor.Family</b></h3>
                            <br />
                            <h4>@Model.Doctor.SpecialtyTitle</h4>
                            <br />
                            <h4>نام مطب: @Model.Doctor.OfficeName</h4>
                            <br />
                            <h4>آدرس مطب: @Model.Doctor.OfficeAddress</h4>
                            <br />
                            <h4>تلفن مطب: @Model.Doctor.OfficePhone</h4>
                            <h4><b>.</b></h4>
                            <h4><b>.</b></h4>
                            <h4><b>.</b></h4>
                            <h4><b>لطفا زمان ویزیت را مشخص کنید</b></h4>
                            <br />
                            <table class="table table-hover text-center">
                                <tr>
                                    <th>نام روز</th>
                                    <th>تاریخ</th>
                                    <th>ساعت های حضور</th>
                                    <th></th>
                                </tr>
                                @foreach(var t in @Model.PresentOptions)
                                {
                                    <tr>
                                        <td>@t.DayPresent</td>
                                        <td>
                                            @{
                                                var miladiDate = Model.Dates[index];
                                                var date = $"{p.GetYear(Model.Dates[index])}/{p.GetMonth(Model.Dates[index])}/{p.GetDayOfMonth(Model.Dates[index])}";
                                                index++;
                                            }
                                            @date
                                        </td>
                                        <td>@t.HoursPresent</td>
                                        <td><a asp-controller="Reserv" asp-action="SetVisit" asp-route-doctorId="@Model.Doctor.Id" asp-route-presentId="@t.Id" asp-route-date="@miladiDate" class="btn btn-primary">انتخاب</a></td>
                                    </tr>
                                }
                            </table>



                        </div>
                    </div>
                </div>
            </center>

        </div>

    </div>

</div>